1. Türk Telekom isminin harflerinden oluşan bir listede ilk 3 elemanı ekrana yazdırınız
2. listenin baş tarafına TT harflerini ekleyiniz

In [2]:
metin = "Türk Telekom"
list(metin) # tip dönüşümü

['T', 'ü', 'r', 'k', ' ', 'T', 'e', 'l', 'e', 'k', 'o', 'm']

In [3]:
liste = list(metin)  # ['T', 'ü', 'r', 'k', ' ', 'T', 'e', 'l', 'e', 'k', 'o', 'm']

In [4]:
liste[0:3]

['T', 'ü', 'r']

In [5]:
liste.insert(0,"TT")

In [6]:
liste

['TT', 'T', 'ü', 'r', 'k', ' ', 'T', 'e', 'l', 'e', 'k', 'o', 'm']

`liste = [41, 63, 100, 34, 12, 62, 90, 47, 52]`<br>
yukarıda yer alan liste için;<br>
1. listenin sonuna 1000 sayısını ekleyiniz
2. listenin 2. indisinde yer alan sayıyı siliniz
3. listenin 1. indisinde yer alan sayıyı 100 katı ile güncelleyiniz
4. listeyi büyükten küçüğe sıralayınız.
5. listeyi tersine çevirerek ekrana yazdırınız
Beklenen sonuç:
[]

In [36]:
liste = [41, 63, 100, 34, 12, 62, 90, 47, 52]
liste.append(1000)
liste
liste.pop(1)
liste
liste[0] = [4100]
liste
liste.sort(reverse=True)
liste

TypeError: '<' not supported between instances of 'list' and 'int'