# Değişkenler
1. Tanımlama
2. Değişkenin tipini öğrenme
3. Değişken Tipleri

## 1. Tanımlama

In [1]:
a = 5

In [2]:
a = "5"

In [3]:
a,b = 4,5
print(a,b)

4 5

In [4]:
a = b = 5
print(a,b)

5 5

## 2. Değişken tipini öğrenme<br>
`type(a)`

In [5]:
a = 5
print(type(a))

<class 'int'>

In [6]:
a = "5"
print(type(a))

<class 'str'>

In [7]:
a = 5.0 
print(type(a))

<class 'float'>

In [8]:
print(type(input("Yaşınızı Giriniz:"))) # her zaman str veri tipinde çıktı alınır

<class 'str'>

## 3. Değişken Tipleri
* int
* float
* complex
* str
* list
* tuple
* set
* dict
* bool

In [9]:
var1 = 5 # int
var2 = 5.0 # float
var3 = 5.0 + 2j # complex
var4 = "5" # str
var5 = [5] # list
var6 = (5,) # tuple
var7 = {5} # set
var8 = {"5":"Beş"} # dict
var9 = True # bool

In [10]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))
print(type(var6))
print(type(var7))
print(type(var8))
print(type(var9))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'bool'>

Soru : 
1. Her veri tipine ait belirlediğiniz değer üzerinden değişken tanımı yapınız.
2. Bu değişkenlerin tiplerini ekrana yazdırınız

#### Sayısal Veri Tipleri

##### int

In [11]:
a = 2
b = 3
c = -1
d = 0

In [12]:
a + b # toplama => concatenate

5

#####  float

In [13]:
b = 2.0
a = 1.0
a + b

3.0

In [14]:
b = 2.5
b.as_integer_ratio()

(5, 2)

In [15]:
b.as_integer_ratio()

(5, 2)

In [16]:
print(type(b))

<class 'float'>

In [17]:
a.as_integer_ratio()

(1, 1)

##### complex

In [18]:
a = 4.0 + 3j
print(type(a))

<class 'complex'>

In [19]:
a.imag

3.0

In [20]:
a.real

4.0

#### Dizi Veri Tipleri
* str
* list
* tuple

In [21]:
"a" + "b"

'ab'

##### str

In [22]:
a = 'Ankara'
print(type(a))

<class 'str'>

In [23]:
b = "Ankara"
print(type(b))

<class 'str'>

In [24]:
c = """An
kara"""
print(type(c))

<class 'str'>

In [25]:
c

'An\nkara'

--------------------
Not:`\` escape sequence `\n` `\t` `\b` <b>

In [26]:
adres = "C:\talat\nalan\buse.docx"
print(adres)

C:	alat
alause.docx

In [27]:
adres = "C:\\talat\\nalan\\buse.docx"
print(adres)

C:\talat\nalan\buse.docx

In [28]:
adres = r"C:\talat\nalan\buse.docx" # raw string
print(adres)

C:\talat\nalan\buse.docx

-------------------------------------

###### str Yardımcı Fonksiyonlar
* split
* strip
* capitalize
* upper,lower

In [29]:
veri1 = "Ali;EMEK;50522333112;Ankara"
veri1.split(";")

['Ali', 'EMEK', '50522333112', 'Ankara']

In [30]:
veri1 = "Ali;EMEK;50522333112;Ankara"
veri1.split(";",2)

['Ali', 'EMEK', '50522333112;Ankara']

In [41]:
veri1.rsplit(";",2)

['Ali;EMEK', '50522333112', 'Ankara']

In [40]:
veri2 = "Ali EMEK 50522333112 Ankara"
veri2.split() # parametresiz boşluğu dikkate alır.

['Ali', 'EMEK', '50522333112', 'Ankara']

In [42]:
veri3 = "                             betaegitim                                "
veri3.strip()

'betaegitim'

In [43]:
veri3 = "__________________________betaegitim___________________________"
veri3.strip("_")

'betaegitim'

In [46]:
veri3 = "_________i______a___________betaegitim_____________a__i__________"
veri3.strip("_ai")

'betaegitim'

In [47]:
veri3 = "_________i______a___________betaegitim_____________a__i__________"
veri3.lstrip("_ai")

'betaegitim_____________a__i__________'

In [48]:
veri3 = "_________i______a___________betaegitim_____________a__i__________"
veri3.rstrip("_ai")

'_________i______a___________betaegitim'

In [49]:
veri1 = "türk telekom"
veri1.capitalize()

'Türk telekom'

In [50]:
veri1 = "türk telekom"
veri1.upper()

'TÜRK TELEKOM'

In [51]:
veri1 = "TÜRK TELEKOM"
veri1.lower()

'türk telekom'

* find
* index

In [56]:
veri1 = "türk telekom"
veri1.find("t")

0

In [55]:
veri1 = "türk telekom"
veri1.find("z")

-1

###### Formatting

###### string interpolation

In [59]:
adi,soyadi = "Ali","EMEK"
metin = f"Sayın {adi} {soyadi},"
print(metin)

Sayın Ali EMEK,

In [62]:
adi,soyadi = "Ali","EMEK"
metin = "Sayın {0} {1},".format(adi,soyadi)
#                                0    1 
# metin = "Sayın {a} {b},".format(a=adi,b=soyadi)
print(metin)

Sayın Ali EMEK,

In [70]:
adi,soyadi = "Ali","EMEK"
metin = "Sayın %s %s" % (adi,soyadi)
print(metin)

Sayın Ali EMEK

##### str Erişim

In [71]:
metin = "Ankara"
#        012345
metin[0]

'A'

In [72]:
metin = "Ankara"
#        012345
metin[3]

'a'

In [83]:
metin = "Ankara"
#        012345
#       -6-5-4-3-2-1
metin[-3]

'a'

In [78]:
print(metin[0])

A

`metin[başlangıç:bitiş-1:adım degeri]`

In [86]:
metin = "Beta Eğitim"
#        012345678910
metin[0:4] # 0 1 2 3

'Beta'

In [87]:
metin[5:11] # 5 6 7 8 9 10

'Eğitim'

In [89]:
metin[5:]

'Eğitim'

In [90]:
metin[0:4]

'Beta'

In [91]:
metin[:4]

'Beta'

In [92]:
metin = "Beta Eğitim"
#        012345678910
metin[:8] # 0 1 2 3 4 5 6 7

'Beta Eği'

In [93]:
metin[:8:2] # 0  2  4  6

'Bt ğ'

In [94]:
len("Türk Telekom Python")

19

In [97]:
metin = "Türk Telekom Python"
metin[-10:]

'kom Python'

In [99]:
metin[18:9:-2]

'nhy o'

In [100]:
metin[::-1] # 19 18 17 ..... 0

'nohtyP mokeleT krüT'

In [102]:
metin[:] # 0 1 2 ...... 17 18 19

'Türk Telekom Python'

In [106]:
metin = "Teşekkürler Süpermen"
metin.replace("e","i").replace("ü","i")

'Tişikkirlir Sipirmin'

In [107]:
metin

'Teşekkürler Süpermen'

In [108]:
# Teşekkürler Süpirmin
metin[::-1].replace("e","i",2)[::-1]

'Teşekkürler Süpirmin'

### list

In [1]:
liste = []
print(type(liste))

<class 'list'>

In [2]:
liste = [1,3.0,3.1+4j,print,"Deneme"]

In [3]:
liste = [[1,2,3],[4,5,6]]
#          0        1

#### Liste Erişim

In [4]:
liste = [[1,2,3],[4,5,6]]
liste[0]

[1, 2, 3]

In [5]:
liste = [[1,2,3],[4,5,6]]
liste[0][2]

3

In [6]:
liste = ["TT","BETA",[4,5,6]]
liste[0].lower()

'tt'

In [9]:
from string import ascii_lowercase
liste = [ascii_lowercase[i] for i in range(10)]
print(liste)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [12]:
liste = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
#         0    1    2    3    4    5    6    7    8    9
liste[0:3]

['a', 'b', 'c']

In [14]:
liste[0:7:2] # 0 2 4 6

['a', 'c', 'e', 'g']

#### Liste Fonksiyonları
* Ekleme
    - insert
    - append
    - `+`
    - extend
* Silme
    - pop
    - remove
* Güncelleme
* Kopyalama

In [16]:
# Ekleme
## insert
liste = ["a","b","c"]
#         0   1    2 
liste.insert(1,"f")
liste

['a', 'f', 'b', 'c']

In [3]:
## append
liste = ["a","b","c"]
liste.append("d") # sona ekleme yapar
liste

['a', 'b', 'c', 'd']

In [4]:
## concat + 
liste1 = ["a","b","c"]
liste2 = ["d","e","f"]
liste3 = liste1 + liste2
liste3

['a', 'b', 'c', 'd', 'e', 'f']

In [5]:
a1 = "T"
a2 = "T"
a3 = a1 + a2
a3

'TT'

In [7]:
liste1 = ["a","b","c"]
liste2 = ["d","e","f"]
liste1.append(liste2)
liste1

['a', 'b', 'c', ['d', 'e', 'f']]

In [8]:
liste1 = ["a","b","c"]
liste2 = ["d","e","f"]
liste1.extend(liste2)
liste1

['a', 'b', 'c', 'd', 'e', 'f']

In [9]:
# Silme İşlemleri
## pop
liste1 = ["a","b","c","d","e"]
#          0   1   2   3   4 
liste.pop(1)

'b'

In [10]:
liste

['a', 'c', 'd']

In [11]:
# indis numarası verilmezse
liste.pop()

'd'

In [12]:
liste

['a', 'c']

In [14]:
## remove
liste1 = ["a","b","c","d","e","b","b"]
liste1.remove("b")

In [15]:
liste1

['a', 'c', 'd', 'e', 'b', 'b']

In [18]:
# Güncelleme
liste1 = ["a","b","c",]
liste1

['a', 'b', 'c']

In [19]:
liste1[0] = "A"
liste1

['A', 'b', 'c']

--------------------
Soru Liste içerisindeki tekrarlı elemanları nasıl tek bir elemana indirgeleyebilirim
Cevap:
```
liste = ["a","b","c","d","e","e","f","f","f","a","b"]
list(set(liste))
```
--------------------

In [25]:
# copy
a = 1
b = a
a,b

(1, 1)

In [26]:
b = 2
a,b

(1, 2)

In [27]:
a = [1,2,3]
b = a
a,b

([1, 2, 3], [1, 2, 3])

In [28]:
b.insert(1,100)
a,b

([1, 100, 2, 3], [1, 100, 2, 3])

In [30]:
a = [1,2,3]
b = a.copy()
a,b

([1, 2, 3], [1, 2, 3])

In [31]:
b.insert(1,100)
a,b

([1, 2, 3], [1, 100, 2, 3])

In [40]:
liste = [2,3,43,2,1,2,3,5,7,4,3,4,5,6]
liste.sort() # listeyi değiştirir
liste

[1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 6, 7, 43]

In [41]:
liste = [2,3,43,2,1,2,3,5,7,4,3,4,5,6]
sorted(liste),liste # listeyi değiştirmez

([1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 6, 7, 43],
 [2, 3, 43, 2, 1, 2, 3, 5, 7, 4, 3, 4, 5, 6])

In [42]:
liste = [2,3,43,2,1,2,3,5,7,4,3,4,5,6]
liste.sort(reverse=True)
liste

[43, 7, 6, 5, 5, 4, 4, 3, 3, 3, 2, 2, 2, 1]

In [38]:
liste = [2,3,43,2,1,2,3,5,7,4,3,4,5,6]
liste.sort()
liste.reverse()
liste

[43, 7, 6, 5, 5, 4, 4, 3, 3, 3, 2, 2, 2, 1]

In [44]:
# index
liste = ["a","b","c","d","e","f","b"]
liste.index("b")

1

In [46]:
metin = "Türk Telekom"
metin.index("T")

0

In [47]:
metin.rindex("T")

5

In [48]:
# count
liste = ["a","b","c","d","e","f","b"]
liste.count("b")

2

In [49]:
metin = "Türk Telekom"
metin.count("T")

2

### tuple

-------------------------------
immutable veri tipi nedir?
```
var1 = "TT"
var1[0] = "t" # => HATA VERİR Çünkü str veri tipi immutable bir veri tipidir. 
var2 = [1,2,3,4]
var2[0] = 100 # => ÇALIŞIR Çünkü list veri tipi mutable bir veri tipidir. 
var3 = (1,2,3)
var3[1] = 100 # => HATA VERİR Çünkü tuple veri tipi immutable bir veri tipidir. 
```
--------------------------------

In [50]:
demet = ()
print(type(demet))

<class 'tuple'>

In [52]:
demet = (2)
print(type(demet)) # DİKKAT

<class 'int'>

In [53]:
demet = (2,)
print(type(demet)) # DİKKAT

<class 'tuple'>

In [54]:
demet = 2,
print(type(demet)) # DİKKAT

<class 'tuple'>

In [55]:
demet = 3,2,3,4,5
print(type(demet)) # DİKKAT

<class 'tuple'>

In [56]:
a = 1
b = 2
a,b

(1, 2)

In [ ]:
demet = (11,2,3,2,1,1,23)

Erişim,değer tutma prensipleri açısında tuple veri tipinin immutable olması dışında list veri tipinden farkı yoktur.

### set

In [57]:
kume = {1,2,3,"a"}
print(type(kume))

<class 'set'>

In [60]:
kume = {}
print(type(kume)) # DİKKAT Bu bir dict veri tipidir

<class 'dict'>

In [61]:
kume = set()
print(type(kume))

<class 'set'>

In [62]:
kume = {1,1,1,1,1,1,1,1,1,1,}
print(kume)

{1}

In [63]:
liste = [1,2,3,1,2,2,3,1,1,2,3,4]
print(set(liste))

{1, 2, 3, 4}

In [64]:
k1 = {1,2,3,4,5,6}
k2 = {3,4,5,6,7,8,9}

In [65]:
k1.intersection(k2)

{3, 4, 5, 6}

In [66]:
k1.difference(k2)

{1, 2}

In [67]:
k2.difference(k1)

{7, 8, 9}

In [68]:
k1.symmetric_difference(k2)

{1, 2, 7, 8, 9}

In [70]:
k1.union(k2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
k3 = {3,4}
k1.issuperset(k3)

True

-------------------------------------
***is*** ifadesi ile başlayan fonksiyonlar **True False** yanıt döner
```
metin = "TT"
metin.isupper() # => True
metin.istitle() # => False
metin.isnumeric() # => False
metin.isalpha() # => True
k1.issuperset(k3) # => True
isintance(k1,set) # => True
```
-------------------------------------

### dict

In [73]:
sozluk = {}
print(type(sozluk))

<class 'dict'>

In [74]:
sozluk = {"1":"Bir"}
#        key : value
# key nümerik veriler ve immutable veri tipleri kullanılabilir
# value her nesne kullanılabilir

#### Erişim
* []
* get
* setdefault

In [85]:
sozluk = {"1":"Bir","2":"İki","3":"Üç"}
sozluk["1"]

'Bir'

In [88]:
sozluk = {"1":"Bir",
"2":"İki",
"3":"Üç",
"1":"One"}
sozluk["1"]

'One'

In [91]:
# get
sozluk = {"1":"Bir",
"2":"İki",
"3":"Üç",
"1":"One"}
sozluk.get("2")

'İki'

In [92]:
sozluk.get("4") # => None çünkü 4 sözlük içerisinde yok

In [93]:
# setdefault
sozluk.setdefault("1","Uno") # sözlük içerisinde 1 olduğu için one yanıtını aldık sözlükte değişiklik olmadı

'One'

In [94]:
sozluk

{'1': 'One', '2': 'İki', '3': 'Üç'}

In [95]:
sozluk.setdefault("4","Quatro") # sözlükte 4 olmadığı için Quatro yanıtını aldık ve sözlük içerisine eklendi.

'Quatro'

In [96]:
sozluk

{'1': 'One', '2': 'İki', '3': 'Üç', '4': 'Quatro'}

In [97]:
sozluk

{'1': 'One', '2': 'İki', '3': 'Üç', '4': 'Quatro'}

In [99]:
sozluk["8"] = "Eight"
sozluk["2"] = "Two"

In [100]:
sozluk

{'1': 'One', '2': 'Two', '3': 'Üç', '4': 'Quatro', '8': 'Eight'}

#### Diğer İşlemler
* update
* popitem
* pop
* items,keys,values
* fromkeys

In [1]:
# update
s1 = {"1":"Bir","2":"İki","3":"Üç","5":"Beş"}
s2 = {"1":"One","2":"Two","3":"Three","4":"Four"}
s1.update(s2)
s1

{'1': 'One', '2': 'Two', '3': 'Three', '5': 'Beş', '4': 'Four'}

In [2]:
# Veritabanından gelen örnek veri
liste = [(1,"Adana"),(2,"Adıyaman"),(3,"Afyon")]
sozluk = {}
sozluk.update(liste)

In [3]:
sozluk

{1: 'Adana', 2: 'Adıyaman', 3: 'Afyon'}

In [6]:
liste1 = [1,2,3]
liste2 = ("Adana","Adıyaman","Afyon")
print(list(zip(liste1,liste2)))

[(1, 'Adana'), (2, 'Adıyaman'), (3, 'Afyon')]

In [7]:
sozluk = {}
sozluk.update(zip(liste1,liste2))
sozluk

{1: 'Adana', 2: 'Adıyaman', 3: 'Afyon'}

In [17]:
## popitem
s1 = {
    "1":"Bir",
#.  key:value
#.    item    
    "2":"İki",
    "3":"Üç",
    "5":"Beş"}
s1.popitem() # en son eklenen item ı siler

('5', 'Beş')

In [18]:
s1

{'1': 'Bir', '2': 'İki', '3': 'Üç'}

In [20]:
# pop
s1 = {
    "1":"Bir",
#.  key:value
#.    item    
    "2":"İki",
    "3":"Üç",
    "5":"Beş"}
s1.pop("1")

'Bir'

In [21]:
s1

{'2': 'İki', '3': 'Üç', '5': 'Beş'}

----------------------------------
```
del liste
del liste[1]
del sozluk["a"]
```
----------------------------------

In [26]:
### items
s1 = {
    "1":"Bir",
#.  key:value
#.    item    
    "2":"İki",
    "3":"Üç",
    "5":"Beş"}
s1.items()

dict_items([('1', 'Bir'), ('2', 'İki'), ('3', 'Üç'), ('5', 'Beş')])

In [28]:
s1.keys()

dict_keys(['1', '2', '3', '5'])

In [29]:
s1.values()

dict_values(['Bir', 'İki', 'Üç', 'Beş'])

In [30]:
liste = ["adi","soyadi","telefon","il","ilçe"]
sozluk = dict.fromkeys(liste,"")
sozluk

{'adi': '', 'soyadi': '', 'telefon': '', 'il': '', 'ilçe': ''}

### bool

In [31]:
True and True

True

In [32]:
False and True

False

In [33]:
0 and 1

0

In [34]:
2 and 3

3

In [35]:
0 or 3

3

In [36]:
3 or 0

3

In [38]:
"__" and "_"

'_'

In [ ]:
# False olan veriler
liste.sort()#=> None => False
0 # => False
"" # => False
[] # => False
{} # => False
() # => False
set() # => False