# Değişkenler
1. Tanımlama
2. Değişkenin tipini öğrenme
3. Değişken Tipleri

## 1. Tanımlama

In [1]:
a = 5

In [2]:
a = "5"

In [3]:
a,b = 4,5
print(a,b)

4 5

In [4]:
a = b = 5
print(a,b)

5 5

## 2. Değişken tipini öğrenme<br>
`type(a)`

In [5]:
a = 5
print(type(a))

<class 'int'>

In [6]:
a = "5"
print(type(a))

<class 'str'>

In [7]:
a = 5.0 
print(type(a))

<class 'float'>

In [8]:
print(type(input("Yaşınızı Giriniz:"))) # her zaman str veri tipinde çıktı alınır

<class 'str'>

## 3. Değişken Tipleri
* int
* float
* complex
* str
* list
* tuple
* set
* dict
* bool

In [9]:
var1 = 5 # int
var2 = 5.0 # float
var3 = 5.0 + 2j # complex
var4 = "5" # str
var5 = [5] # list
var6 = (5,) # tuple
var7 = {5} # set
var8 = {"5":"Beş"} # dict
var9 = True # bool

In [10]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))
print(type(var6))
print(type(var7))
print(type(var8))
print(type(var9))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'bool'>

Soru : 
1. Her veri tipine ait belirlediğiniz değer üzerinden değişken tanımı yapınız.
2. Bu değişkenlerin tiplerini ekrana yazdırınız

## 2. Değişken Tipleri

### int

In [11]:
a = 2
b = 3
c = -1
d = 0

In [12]:
a + b # toplama => concatenate

5

### float

In [13]:
b = 2.0
a = 1.0
a + b

3.0

In [14]:
b = 2.5
b.as_integer_ratio()

(5, 2)

In [15]:
b.as_integer_ratio()

(5, 2)

In [16]:
print(type(b))

<class 'float'>

In [17]:
a.as_integer_ratio()

(1, 1)

### complex

In [18]:
a = 4.0 + 3j
print(type(a))

<class 'complex'>

In [19]:
a.imag

3.0

In [20]:
a.real

4.0

### Dizi Veri Tipleri
* str
* list
* tuple

In [21]:
"a" + "b"

'ab'

### str

In [22]:
a = 'Ankara'
print(type(a))

<class 'str'>

In [23]:
b = "Ankara"
print(type(b))

<class 'str'>

In [24]:
c = """An
kara"""
print(type(c))

<class 'str'>

In [25]:
c

'An\nkara'

--------------------
Not:`\` escape sequence `\n` `\t` `\b` <b>

In [26]:
adres = "C:\talat\nalan\buse.docx"
print(adres)

C:	alat
alause.docx

In [27]:
adres = "C:\\talat\\nalan\\buse.docx"
print(adres)

C:\talat\nalan\buse.docx

In [28]:
adres = r"C:\talat\nalan\buse.docx" # raw string
print(adres)

C:\talat\nalan\buse.docx

-------------------------------------

#### str Yardımcı Fonksiyonlar
* split
* strip
* capitalize
* upper,lower

In [29]:
veri1 = "Ali;EMEK;50522333112;Ankara"
veri1.split(";")

['Ali', 'EMEK', '50522333112', 'Ankara']

In [30]:
veri1 = "Ali;EMEK;50522333112;Ankara"
veri1.split(";",2)

['Ali', 'EMEK', '50522333112;Ankara']

In [41]:
veri1.rsplit(";",2)

['Ali;EMEK', '50522333112', 'Ankara']

In [40]:
veri2 = "Ali EMEK 50522333112 Ankara"
veri2.split() # parametresiz boşluğu dikkate alır.

['Ali', 'EMEK', '50522333112', 'Ankara']

In [42]:
veri3 = "                             betaegitim                                "
veri3.strip()

'betaegitim'

In [43]:
veri3 = "__________________________betaegitim___________________________"
veri3.strip("_")

'betaegitim'

In [46]:
veri3 = "_________i______a___________betaegitim_____________a__i__________"
veri3.strip("_ai")

'betaegitim'

In [47]:
veri3 = "_________i______a___________betaegitim_____________a__i__________"
veri3.lstrip("_ai")

'betaegitim_____________a__i__________'

In [48]:
veri3 = "_________i______a___________betaegitim_____________a__i__________"
veri3.rstrip("_ai")

'_________i______a___________betaegitim'

In [49]:
veri1 = "türk telekom"
veri1.capitalize()

'Türk telekom'

In [50]:
veri1 = "türk telekom"
veri1.upper()

'TÜRK TELEKOM'

In [51]:
veri1 = "TÜRK TELEKOM"
veri1.lower()

'türk telekom'

* find

#### Formatting