# Değişkenler
1. Tanımlama
2. Değişkenin tipini öğrenme
3. Değişken Tipleri

## 1. Tanımlama

In [1]:
a = 5

In [2]:
a = "5"

In [3]:
a,b = 4,5
print(a,b)

4 5

In [4]:
a = b = 5
print(a,b)

5 5

## 2. Değişken tipini öğrenme<br>
`type(a)`

In [5]:
a = 5
print(type(a))

<class 'int'>

In [6]:
a = "5"
print(type(a))

<class 'str'>

In [7]:
a = 5.0 
print(type(a))

<class 'float'>

In [8]:
print(type(input("Yaşınızı Giriniz:"))) # her zaman str veri tipinde çıktı alınır

<class 'str'>

## 3. Değişken Tipleri
* int
* float
* complex
* str
* list
* tuple
* set
* dict
* bool

In [9]:
var1 = 5 # int
var2 = 5.0 # float
var3 = 5.0 + 2j # complex
var4 = "5" # str
var5 = [5] # list
var6 = (5,) # tuple
var7 = {5} # set
var8 = {"5":"Beş"} # dict
var9 = True # bool

In [10]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))
print(type(var6))
print(type(var7))
print(type(var8))
print(type(var9))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'bool'>

Soru : 
1. Her veri tipine ait belirlediğiniz değer üzerinden değişken tanımı yapınız.
2. Bu değişkenlerin tiplerini ekrana yazdırınız

#### Sayısal Veri Tipleri

##### int

In [11]:
a = 2
b = 3
c = -1
d = 0

In [12]:
a + b # toplama => concatenate

5

#####  float

In [13]:
b = 2.0
a = 1.0
a + b

3.0

In [14]:
b = 2.5
b.as_integer_ratio()

(5, 2)

In [15]:
b.as_integer_ratio()

(5, 2)

In [16]:
print(type(b))

<class 'float'>

In [17]:
a.as_integer_ratio()

(1, 1)

##### complex

In [18]:
a = 4.0 + 3j
print(type(a))

<class 'complex'>

In [19]:
a.imag

3.0

In [20]:
a.real

4.0

#### Dizi Veri Tipleri
* str
* list
* tuple

In [21]:
"a" + "b"

'ab'

##### str

In [22]:
a = 'Ankara'
print(type(a))

<class 'str'>

In [23]:
b = "Ankara"
print(type(b))

<class 'str'>

In [24]:
c = """An
kara"""
print(type(c))

<class 'str'>

In [25]:
c

'An\nkara'

--------------------
Not:`\` escape sequence `\n` `\t` `\b` <b>

In [26]:
adres = "C:\talat\nalan\buse.docx"
print(adres)

C:	alat
alause.docx

In [27]:
adres = "C:\\talat\\nalan\\buse.docx"
print(adres)

C:\talat\nalan\buse.docx

In [28]:
adres = r"C:\talat\nalan\buse.docx" # raw string
print(adres)

C:\talat\nalan\buse.docx

-------------------------------------

###### str Yardımcı Fonksiyonlar
* split
* strip
* capitalize
* upper,lower

In [29]:
veri1 = "Ali;EMEK;50522333112;Ankara"
veri1.split(";")

['Ali', 'EMEK', '50522333112', 'Ankara']

In [30]:
veri1 = "Ali;EMEK;50522333112;Ankara"
veri1.split(";",2)

['Ali', 'EMEK', '50522333112;Ankara']

In [41]:
veri1.rsplit(";",2)

['Ali;EMEK', '50522333112', 'Ankara']

In [40]:
veri2 = "Ali EMEK 50522333112 Ankara"
veri2.split() # parametresiz boşluğu dikkate alır.

['Ali', 'EMEK', '50522333112', 'Ankara']

In [42]:
veri3 = "                             betaegitim                                "
veri3.strip()

'betaegitim'

In [43]:
veri3 = "__________________________betaegitim___________________________"
veri3.strip("_")

'betaegitim'

In [46]:
veri3 = "_________i______a___________betaegitim_____________a__i__________"
veri3.strip("_ai")

'betaegitim'

In [47]:
veri3 = "_________i______a___________betaegitim_____________a__i__________"
veri3.lstrip("_ai")

'betaegitim_____________a__i__________'

In [48]:
veri3 = "_________i______a___________betaegitim_____________a__i__________"
veri3.rstrip("_ai")

'_________i______a___________betaegitim'

In [49]:
veri1 = "türk telekom"
veri1.capitalize()

'Türk telekom'

In [50]:
veri1 = "türk telekom"
veri1.upper()

'TÜRK TELEKOM'

In [51]:
veri1 = "TÜRK TELEKOM"
veri1.lower()

'türk telekom'

* find
* index

In [56]:
veri1 = "türk telekom"
veri1.find("t")

0

In [55]:
veri1 = "türk telekom"
veri1.find("z")

-1

###### Formatting

###### string interpolation

In [59]:
adi,soyadi = "Ali","EMEK"
metin = f"Sayın {adi} {soyadi},"
print(metin)

Sayın Ali EMEK,

In [62]:
adi,soyadi = "Ali","EMEK"
metin = "Sayın {0} {1},".format(adi,soyadi)
#                                0    1 
# metin = "Sayın {a} {b},".format(a=adi,b=soyadi)
print(metin)

Sayın Ali EMEK,

In [70]:
adi,soyadi = "Ali","EMEK"
metin = "Sayın %s %s" % (adi,soyadi)
print(metin)

Sayın Ali EMEK

##### str Erişim

In [71]:
metin = "Ankara"
#        012345
metin[0]

'A'

In [72]:
metin = "Ankara"
#        012345
metin[3]

'a'

In [83]:
metin = "Ankara"
#        012345
#       -6-5-4-3-2-1
metin[-3]

'a'

In [78]:
print(metin[0])

A

`metin[başlangıç:bitiş-1:adım degeri]`

In [86]:
metin = "Beta Eğitim"
#        012345678910
metin[0:4] # 0 1 2 3

'Beta'

In [87]:
metin[5:11] # 5 6 7 8 9 10

'Eğitim'

In [89]:
metin[5:]

'Eğitim'

In [90]:
metin[0:4]

'Beta'

In [91]:
metin[:4]

'Beta'

In [92]:
metin = "Beta Eğitim"
#        012345678910
metin[:8] # 0 1 2 3 4 5 6 7

'Beta Eği'

In [93]:
metin[:8:2] # 0  2  4  6

'Bt ğ'

In [94]:
len("Türk Telekom Python")

19

In [97]:
metin = "Türk Telekom Python"
metin[-10:]

'kom Python'

In [99]:
metin[18:9:-2]

'nhy o'

In [100]:
metin[::-1] # 19 18 17 ..... 0

'nohtyP mokeleT krüT'

In [102]:
metin[:] # 0 1 2 ...... 17 18 19

'Türk Telekom Python'

In [106]:
metin = "Teşekkürler Süpermen"
metin.replace("e","i").replace("ü","i")

'Tişikkirlir Sipirmin'

In [107]:
metin

'Teşekkürler Süpermen'

In [108]:
# Teşekkürler Süpirmin
metin[::-1].replace("e","i",2)[::-1]

'Teşekkürler Süpirmin'

### List

In [1]:
liste = []
print(type(liste))

<class 'list'>

In [2]:
liste = [1,3.0,3.1+4j,print,"Deneme"]

In [3]:
liste = [[1,2,3],[4,5,6]]
#          0        1

#### Liste Erişim

In [4]:
liste = [[1,2,3],[4,5,6]]
liste[0]

[1, 2, 3]

In [5]:
liste = [[1,2,3],[4,5,6]]
liste[0][2]

3

In [6]:
liste = ["TT","BETA",[4,5,6]]
liste[0].lower()

'tt'

In [9]:
from string import ascii_lowercase
liste = [ascii_lowercase[i] for i in range(10)]
print(liste)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [12]:
liste = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
#         0    1    2    3    4    5    6    7    8    9
liste[0:3]

['a', 'b', 'c']

In [14]:
liste[0:7:2] # 0 2 4 6

['a', 'c', 'e', 'g']

#### Liste Fonksiyonları
* Ekleme
    - insert
    - append
    - `+`
    - extend
* Silme
    - pop
    - remove
* Güncelleme

In [16]:
# Ekleme
liste = ["a","b","c"]
#         0   1    2 
liste.insert(1,"f")
liste

['a', 'f', 'b', 'c']